{
  "openapi": "3.0.3",
  "info": {
    "title": "Lehno",
    "version": "1",
    "description": "L'assistant des dates qui comptent. Le contrat est engendré depuis les schémas Zod de @lehno/contracts — il ne s'écrit pas à la main."
  },
  "servers": [
    {
      "url": "https://api.lehno.app/v1"
    },
    {
      "url": "http://localhost:3001/v1",
      "description": "développement"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/public/waitlist": {
      "post": {
        "summary": "S'inscrire à la liste d'attente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "fr",
                      "en"
                    ]
                  },
                  "source": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "website": {
                    "type": "string",
                    "maxLength": 254
                  },
                  "renderedAt": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "joined": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "joined"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/contact": {
      "post": {
        "summary": "Écrire à l'équipe",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "subject": {
                    "type": "string",
                    "enum": [
                      "question_app",
                      "probleme_technique",
                      "credits_paiements",
                      "signaler_contenu",
                      "demande_donnees",
                      "autre"
                    ]
                  },
                  "message": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 4000
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "fr",
                      "en"
                    ]
                  },
                  "website": {
                    "type": "string",
                    "maxLength": 254
                  },
                  "renderedAt": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  }
                },
                "required": [
                  "name",
                  "email",
                  "subject",
                  "message"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "sent"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/config": {
      "get": {
        "summary": "Lire la configuration publique (prix, crédits offerts, devise)",
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signupFreeCredits": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "creditUnitPrice": {
                      "type": "number",
                      "minimum": 0
                    },
                    "currency": {
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 3
                    },
                    "referralBonusInvited": {
                      "type": "number",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "signupFreeCredits",
                    "creditUnitPrice",
                    "currency",
                    "referralBonusInvited"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/maintenance": {
      "get": {
        "summary": "Savoir si l'API est arrêtée pour intervention, et pour combien de temps",
        "description": "### L'arrêt n'est PAS un drapeau de fonctionnalité\n\nUn drapeau éteint rend `404` — « cette surface n'existe pas » — et le\nclient masque l'écran. Un arrêt rend **`503`**, code `maintenance`, avec\n`details.retryAfterSeconds` : la ressource existe et revient. Le client\nmontre un écran d'attente et réessaie ; **il ne masque rien, il ne\ndéconnecte personne, il ne vide aucun cache local.**\n\n### Où il s'applique\n\nSur TOUS les chemins, sauf deux : `/admin*`, par où l'équipe rouvre, et\ncelui-ci, qui reste joignable pendant l'arrêt — c'est ce qui permet de\nsavoir quand revenir sans marteler un chemin fermé.\n\n### Ce que le client doit faire\n\n**Un arrêt commence au milieu d'une session.** Il n'y a rien à lire au\ndémarrage : le `503` arrive sur n'importe quel appel, à n'importe quel\nmoment. C'est lui le signal.\n\n**Attendre le délai annoncé**, pas un délai à soi. Il vient du serveur\npour que tout le parc applique la même règle, et pour qu'on puisse\nl'allonger si l'intervention dure.\n\n**Puis interroger ce chemin** plutôt que de réessayer l'appel d'origine :\n`maintenance: false` dit que c'est fini.",
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "maintenance": {
                      "type": "boolean"
                    },
                    "retryAfterSeconds": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "minimum": 0,
                      "nullable": true
                    }
                  },
                  "required": [
                    "maintenance",
                    "retryAfterSeconds"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/features": {
      "get": {
        "summary": "Lister les fonctionnalités actives sur les surfaces sans compte",
        "description": "Les surfaces SANS COMPTE uniquement : page publique du Mur, liste\npartagée, dépôt de vœux, page d'invitation, landing. Un client qui n'a\npas encore de session lit celle-ci ; dès qu'il en a une, il lit\n`/me/features`, qui la remplace — jamais les deux à la fois.\n\nMêmes règles de lecture que `/me/features` : voir sa description.",
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "features"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/me/features": {
      "get": {
        "summary": "Lister les fonctionnalités actives pour le demandeur",
        "description": "### Ce que le client doit faire de cette liste\n\n**Elle porte ce qui est ACTIF, dépendances déjà résolues.** Jamais\nl'état brut des drapeaux. Le jour où l'activation deviendra sélective —\npar compte, par pays, par version —, rien ne changera côté client.\n\n**Ce qui n'y figure pas est éteint.** Une clé absente et une clé inconnue\nse traitent pareil : éteinte. C'est ce qui permet de livrer un drapeau\nnouveau sans attendre que tout le parc se mette à jour.\n\n**Le client ne décide de rien.** Aucune règle de dépendance ne se code\ncôté client : le serveur les a déjà appliquées. Un client qui déduirait\nlui-même « `wall` est là, donc `wishes` aussi » se tromperait le jour où\nune des deux s'éteint seule.\n\n**Quand lire.** Au démarrage, et après chaque connexion ou changement de\ncompte. La liste n'est pas immuable : un drapeau peut s'éteindre pendant\nqu'une session est ouverte.\n\n**Ce que fait un chemin gouverné par un drapeau éteint.** Il rend `404`,\njamais `403` — un `403` confirmerait que la fonctionnalité existe. Le\nclient qui reçoit `404` sur un chemin qu'il croyait ouvert relit cette\nliste plutôt que d'afficher une erreur : c'est le signe que le drapeau a\nchangé sous lui.\n\n### Livrer une version sans une fonctionnalité\n\nC'est le cas prévu : le socle — proches, notes, dates, occasions,\nrappels, compte — N'A PAS de drapeau et ne s'éteint pas. Tout le reste\npeut manquer d'une livraison à l'autre.\n\nExemple, une version sans les listes de souhaits : `wishlist` et\n`wishlist.own` restent éteints. Le client masque les écrans de leur\nligne du tableau ci-dessous, et n'appelle pas leurs chemins.\n\n**Le piège de ce cas précis** : `reservation` requiert `wishlist.own`.\nElle disparaîtra donc de la liste, même si son propre interrupteur est\nallumé — la résolution se fait côté serveur. Le client n'a rien à en\ndéduire : il ne la voit pas, il la masque, un point c'est tout.\n\n**Le piège inverse, à ne pas reproduire** : `credits` éteint n'éteint\nPAS les générations. Elles restent disponibles et gratuites si leur\npropre drapeau est allumé. Fermer le paiement ne doit pas fermer le\nproduit.\n\n### La couverture de chaque drapeau\n\nCe que le client masque et ce que le serveur ferme doivent désigner la\nmême chose. Ce tableau est la référence commune, engendrée depuis le\nregistre du serveur.\n\n| Clé | Ce qu'elle gouverne | Portée | Requiert | Écrans | Chemins |\n|---|---|---|---|---|---|\n| `wishlist` | Les souhaits notés sur la fiche d'un proche | app | — | `3.19` | `/me/occurrences/{id}/wishes`, `/me/wishes/{id}` |\n| `wishlist.own` | Mes propres listes, leur partage et leur réservation | app, public | — | `3.29`, `public 3.6` | `/me/wishlists*`, `/me/owner-wishes/{id}`, `/public/wishlists/{token}` |\n| `wall` | Le Mur, sa gestion et sa page publique | app, public | — | `3.10`, `public 3.4` | `/me/wall*`, `/public/walls/{username}` |\n| `collect` | Les liens de collecte et la validation des contributions | app, public | — | `3.8`, `3.20`, `public 3.2`, `public 3.3` | `/me/collection-links*`, `/me/submissions*`, `/public/collect/{token}` |\n| `wishes` | Le dépôt de vœux et les vœux reçus | app, public | `wall` | `public 3.5` | `/me/wall/wish-link`, `/me/received-wishes*`, `/public/wishes/{token}` |\n| `reservation` | La réservation d'un souhait par un visiteur | app, public | `wall`, `wishlist.own` | `3.27` | `/me/reservations`, `/public/owner-wishes/{id}/reserve*` |\n| `generation.message` | Le message généré | app | — | `3.7 (message)` | `/me/generations`, `/me/messages/{id}` |\n| `generation.ideas` | Les idées de cadeaux | app | — | `3.7 (idées)` | `/me/generations` |\n| `generation.portrait` | Le studio et le portrait | app | — | `3.22`, `le studio` | `/me/studio/options`, `/me/generations`, `/me/portraits/*` |\n| `credits` | L'achat de crédits dans l'application | app | — | `3.9 (achat)`, `3.25` | `/me/credit-bundles`, `/me/payments`, `/me/payment-methods*` |\n| `topup.manual` | Le versement manuel : verser sur un compte affiché, puis déposer son reçu | app | — | `3.9 (autre chemin)` | `/me/collection-accounts`, `/me/payments (mode semi-manuel)` |\n| `referral` | Le parrainage et la page d'invitation | app, public | — | `3.9 (inviter)`, `public 3.7` | `/me/referral`, `/public/invitations/{code}` |\n| `launch.live` | Sur la landing : les liens vers les magasins, ou le formulaire de liste d'attente | public | — | `public 3.1` | `/public/waitlist` |",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "features"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/me/credits": {
      "get": {
        "summary": "Lire son solde de crédits et ses derniers mouvements",
        "description": "Le solde est la SOMME des mouvements, calculée à chaque appel. Aucune\ncolonne de solde n'existe : le client ne refait pas ce calcul, sous\npeine de deux vérités qui divergent dès qu'un mouvement arrive hors de\nla page.\n\nChaque mouvement porte `source`, un CODE STABLE que le client traduit —\n`signup_grant`, `referral_bonus`, `purchase`… Le champ `reason` est une\nnote libre d'exploitation, en français, jamais destinée à l'affichage.\n\n`type` ne suffit pas à distinguer : un `grant` d'inscription et un\n`grant` de parrainage se ressemblent, et ce sont deux gestes distincts\ndont l'un se mérite.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "grant",
                              "purchase",
                              "consumption",
                              "adjustment"
                            ]
                          },
                          "amount": {
                            "type": "integer"
                          },
                          "reason": {
                            "type": "string",
                            "enum": [
                              "signup",
                              "referral",
                              "purchase",
                              "promo",
                              "gift",
                              "reward",
                              "usage",
                              "refund",
                              "correction"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "amount",
                          "reason",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "balance",
                    "transactions"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/me/referral": {
      "get": {
        "summary": "Lire son code de parrainage, ses filleuls et ses gains",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "invited": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "username": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "invited",
                              "registered",
                              "credited"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "username",
                          "status",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "creditsEarned": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "code",
                    "invited",
                    "creditsEarned"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/invitations/{code}": {
      "get": {
        "summary": "Lire une invitation : qui invite, et ce que l'invité y gagne",
        "description": "Ouverte SANS compte. Sert aussi à valider un code de parrainage à la\nsaisie, avant de le soumettre à /auth/register : un code inconnu rend\n404.\n\nNe porte que le pseudo de celui qui invite. Un code d'invitation\ncircule par message et par réseau, et tout ce qu'on met ici circule\navec lui.",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "inviterUsername": {
                      "type": "string"
                    },
                    "creditsForInvited": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "code",
                    "inviterUsername",
                    "creditsForInvited"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/legal/{document}": {
      "get": {
        "summary": "Lire un document légal (CGU, confidentialité, mentions)",
        "parameters": [
          {
            "name": "document",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cgu",
                "confidentialite",
                "mentions"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "fr",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès"
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp": {
      "post": {
        "summary": "Demander un code de connexion à usage unique par courriel",
        "description": "Le code vaut DIX MINUTES. C'est la première des deux horloges du parcours.\n\nLa seconde est le délai avant de pouvoir en redemander un, et il CROÎT :\n5 secondes après la première demande, 25 après la deuxième, 125 après la\ntroisième. Le client ne calcule pas cette formule — il lit\n`retryAfterSeconds` dans la réponse et l'affiche en compte à rebours.\nS'il la codait de son côté, deux versions du parc appliqueraient deux\nrègles différentes, celle du serveur restant la seule qui compte.\n\nUn refus `rate_limited` porte le même champ dans ses `details`.\n\nPlafond : trois codes par heure et par boîte. Il GLISSE — le refus dit\nquand la plus ancienne demande sortira de la fenêtre, pas « dans une\nheure ».\n\nLa réponse est identique pour une adresse connue et une adresse\ninconnue, délai compris : ce point d'entrée n'énumère pas les comptes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "retryAfterSeconds": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "minimum": 0
                    }
                  },
                  "required": [
                    "sent",
                    "retryAfterSeconds"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "503": {
            "description": "Arrêt pour intervention — code `maintenance`, avec `details.retryAfterSeconds`. La ressource existe et revient : ne pas la masquer, réessayer après le délai annoncé.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "resource_inactive",
                        "insufficient_credits",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "maintenance",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp/verify": {
      "post": {
        "summary": "Vérifier le code reçu : une session, ou une invitation à s'inscrire",
        "description": "DEUX ISSUES, distinguées par le champ `outcome` :\n\n- `session` — l'adresse a déjà un compte. On va droit à l'accueil.\n- `registration` — l'adresse est inconnue. AUCUN COMPTE N'EST CRÉÉ. La\n  réponse porte un jeton d'inscription ; l'écran du pseudo suit, et le\n  compte naît à POST /auth/register.\n\nTester la présence d'`accessToken` pour deviner l'issue est une erreur :\nlire `outcome`, qui existe pour cela.\n\nPourquoi le compte n'est pas créé ici : le code de parrainage se saisit\nà l'écran du pseudo, donc APRÈS. Créer d'abord et rattacher ensuite\nouvrirait un chemin pour réclamer un parrainage des mois plus tard. Les\ndeux opérations sont atomiques.\n\nLe jeton d'inscription n'est PAS une session : il n'ouvre aucune\nressource, vaut quinze minutes, et le présenter en en-tête\nd'autorisation ne donne accès à rien.\n\n`deviceLimitReached` est INDICATIF — il évite de faire choisir un pseudo\nà quelqu'un dont la création sera refusée. Le plafond fait foi à la\ncréation, sous verrou.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^\\d{6}$"
                  },
                  "deviceId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "referralCode": {
                    "type": "string",
                    "maxLength": 16
                  }
                },
                "required": [
                  "email",
                  "code"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "outcome": {
                          "type": "string",
                          "enum": [
                            "session"
                          ]
                        },
                        "accessToken": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer",
                          "exclusiveMinimum": true,
                          "minimum": 0
                        },
                        "isNewAccount": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "outcome",
                        "accessToken",
                        "refreshToken",
                        "expiresIn",
                        "isNewAccount"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
[...]
