{
  "openapi": "3.0.3",
  "info": {
    "title": "Lehno",
    "version": "1",
    "description": "L'assistant des dates qui comptent. Le contrat est engendré depuis les schémas Zod de @lehno/contracts — il ne s'écrit pas à la main."
  },
  "servers": [
    {
      "url": "https://api.lehno.app/v1"
    },
    {
      "url": "http://localhost:3001/v1",
      "description": "développement"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/public/waitlist": {
      "post": {
        "summary": "S'inscrire à la liste d'attente",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "fr",
                      "en"
                    ]
                  },
                  "source": {
                    "type": "string",
                    "maxLength": 64
                  },
                  "website": {
                    "type": "string",
                    "maxLength": 254
                  },
                  "renderedAt": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "joined": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "joined"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/contact": {
      "post": {
        "summary": "Écrire à l'équipe",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "subject": {
                    "type": "string",
                    "enum": [
                      "question_app",
                      "probleme_technique",
                      "credits_paiements",
                      "signaler_contenu",
                      "demande_donnees",
                      "autre"
                    ]
                  },
                  "message": {
                    "type": "string",
                    "minLength": 10,
                    "maxLength": 4000
                  },
                  "locale": {
                    "type": "string",
                    "enum": [
                      "fr",
                      "en"
                    ]
                  },
                  "website": {
                    "type": "string",
                    "maxLength": 254
                  },
                  "renderedAt": {
                    "type": "integer",
                    "exclusiveMinimum": true,
                    "minimum": 0
                  }
                },
                "required": [
                  "name",
                  "email",
                  "subject",
                  "message"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "sent"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/config": {
      "get": {
        "summary": "Lire la configuration publique (prix, crédits offerts, devise)",
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signupFreeCredits": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "creditUnitPrice": {
                      "type": "number",
                      "minimum": 0
                    },
                    "currency": {
                      "type": "string",
                      "minLength": 3,
                      "maxLength": 3
                    },
                    "referralBonusInvited": {
                      "type": "number",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "signupFreeCredits",
                    "creditUnitPrice",
                    "currency",
                    "referralBonusInvited"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/features": {
      "get": {
        "summary": "Lister les fonctionnalités actives sur les surfaces sans compte",
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "features"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/me/features": {
      "get": {
        "summary": "Lister les fonctionnalités actives pour le demandeur",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "features"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/me/credits": {
      "get": {
        "summary": "Lire son solde de crédits et ses derniers mouvements",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "grant",
                              "purchase",
                              "consumption",
                              "adjustment"
                            ]
                          },
                          "amount": {
                            "type": "integer"
                          },
                          "source": {
                            "type": "string",
                            "enum": [
                              "signup_grant",
                              "referral_bonus",
                              "purchase",
                              "manual_topup",
                              "promo_code",
                              "consumption",
                              "admin_adjustment"
                            ]
                          },
                          "reason": {
                            "type": "string",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "amount",
                          "source",
                          "reason",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "balance",
                    "transactions"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/me/referral": {
      "get": {
        "summary": "Lire son code de parrainage, ses filleuls et ses gains",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "invited": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "username": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "invited",
                              "registered",
                              "credited"
                            ]
                          },
                          "createdAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "username",
                          "status",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "creditsEarned": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "code",
                    "invited",
                    "creditsEarned"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/invitations/{code}": {
      "get": {
        "summary": "Lire une invitation : qui invite, et ce que l'invité y gagne",
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 16
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "inviterUsername": {
                      "type": "string"
                    },
                    "creditsForInvited": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "code",
                    "inviterUsername",
                    "creditsForInvited"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/public/legal/{document}": {
      "get": {
        "summary": "Lire un document légal (CGU, confidentialité, mentions)",
        "parameters": [
          {
            "name": "document",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "cgu",
                "confidentialite",
                "mentions"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "fr",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Succès"
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp": {
      "post": {
        "summary": "Demander un code de connexion à usage unique par courriel",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  }
                },
                "required": [
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sent": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    }
                  },
                  "required": [
                    "sent"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/otp/verify": {
      "post": {
        "summary": "Vérifier le code reçu et ouvrir une session",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 254
                  },
                  "code": {
                    "type": "string",
                    "pattern": "^\\d{6}$"
                  },
                  "deviceId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "referralCode": {
                    "type": "string",
                    "maxLength": 16
                  }
                },
                "required": [
                  "email",
                  "code"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "outcome": {
                          "type": "string",
                          "enum": [
                            "session"
                          ]
                        },
                        "accessToken": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer",
                          "exclusiveMinimum": true,
                          "minimum": 0
                        },
                        "isNewAccount": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "outcome",
                        "accessToken",
                        "refreshToken",
                        "expiresIn",
                        "isNewAccount"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "outcome": {
                          "type": "string",
                          "enum": [
                            "registration"
                          ]
                        },
                        "registrationToken": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer",
                          "exclusiveMinimum": true,
                          "minimum": 0
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "deviceLimitReached": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "outcome",
                        "registrationToken",
                        "expiresIn",
                        "email",
                        "deviceLimitReached"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "summary": "Créer le compte : pseudo, appareil, et code de parrainage facultatif",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "registrationToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9._-]*$"
                  },
                  "deviceId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "referralCode": {
                    "type": "string",
                    "maxLength": 16
                  }
                },
                "required": [
                  "registrationToken",
                  "username",
                  "deviceId"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "outcome": {
                      "type": "string",
                      "enum": [
                        "session"
                      ]
                    },
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "minimum": 0
                    },
                    "isNewAccount": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "signupCredits": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "referral": {
                      "type": "object",
                      "properties": {
                        "outcome": {
                          "type": "string",
                          "enum": [
                            "credited",
                            "unknown",
                            "self"
                          ]
                        },
                        "inviterUsername": {
                          "type": "string",
                          "nullable": true
                        },
                        "bonusCredits": {
                          "type": "integer",
                          "minimum": 0
                        }
                      },
                      "required": [
                        "outcome",
                        "inviterUsername",
                        "bonusCredits"
                      ],
                      "additionalProperties": false,
                      "nullable": true
                    }
                  },
                  "required": [
                    "outcome",
                    "accessToken",
                    "refreshToken",
                    "expiresIn",
                    "isNewAccount",
                    "signupCredits",
                    "referral"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/federated": {
      "post": {
        "summary": "Se connecter via une identité fédérée (Google, Apple)",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "google",
                      "apple"
                    ]
                  },
                  "idToken": {
                    "type": "string",
                    "minLength": 1
                  },
                  "deviceId": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "referralCode": {
                    "type": "string",
                    "maxLength": 16
                  }
                },
                "required": [
                  "provider",
                  "idToken"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "outcome": {
                          "type": "string",
                          "enum": [
                            "session"
                          ]
                        },
                        "accessToken": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer",
                          "exclusiveMinimum": true,
                          "minimum": 0
                        },
                        "isNewAccount": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "outcome",
                        "accessToken",
                        "refreshToken",
                        "expiresIn",
                        "isNewAccount"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "outcome": {
                          "type": "string",
                          "enum": [
                            "registration"
                          ]
                        },
                        "registrationToken": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer",
                          "exclusiveMinimum": true,
                          "minimum": 0
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "deviceLimitReached": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "outcome",
                        "registrationToken",
                        "expiresIn",
                        "email",
                        "deviceLimitReached"
                      ],
                      "additionalProperties": false
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "summary": "Renouveler une session à partir du jeton de rafraîchissement",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "refreshToken"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accessToken": {
                      "type": "string"
                    },
                    "refreshToken": {
                      "type": "string"
                    },
                    "expiresIn": {
                      "type": "integer",
                      "exclusiveMinimum": true,
                      "minimum": 0
                    },
                    "isNewAccount": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "accessToken",
                    "refreshToken",
                    "expiresIn",
                    "isNewAccount"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/auth/session": {
      "delete": {
        "summary": "Clore la session (révoque la famille du jeton de rafraîchissement)",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "required": [
                  "refreshToken"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Succès"
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      }
    },
    "/me/profile": {
      "get": {
        "summary": "Lire son propre profil",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "username": {
                      "type": "string",
                      "pattern": "^[a-z0-9_]{3,30}$"
                    },
                    "displayName": {
                      "type": "string",
                      "maxLength": 80,
                      "nullable": true
                    },
                    "avatarUrl": {
                      "type": "string",
                      "format": "uri",
                      "nullable": true
                    },
                    "email": {
                      "type": "string",
                      "format": "email"
                    },
                    "emailVerified": {
                      "type": "boolean"
                    },
                    "uiLanguage": {
                      "type": "string",
                      "enum": [
                        "fr",
                        "en"
                      ]
                    },
                    "theme": {
                      "type": "string",
                      "enum": [
                        "system",
                        "light",
                        "dark"
                      ]
                    },
                    "timezone": {
                      "type": "string",
                      "maxLength": 64
                    },
                    "sendHour": {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 23
                    }
                  },
                  "required": [
                    "id",
                    "username",
                    "displayName",
                    "avatarUrl",
                    "email",
                    "emailVerified",
                    "uiLanguage",
                    "theme",
                    "timezone",
                    "sendHour"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "500": {
            "description": "Défaillance du serveur — la requête n'y est pour rien, on peut réessayer sans la modifier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "4XX": {
            "description": "Refus — la requête ne satisfait pas le contrat (forme, valeur, droit) ; corriger avant de réessayer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "enum": [
                        "validation_failed",
                        "not_found",
                        "conflict",
                        "rate_limited",
                        "internal_error",
                        "unauthorized",
                        "forbidden",
                        "session_expired",
                        "refresh_reused",
                        "otp_invalid",
                        "otp_expired",
                        "otp_too_many_attempts",
                        "otp_rate_limited",
                        "reason_required",
                        "username_taken",
                        "username_invalid",
                        "device_limit_reached",
                        "account_suspended",
                        "account_pending_deletion",
                        "federated_token_invalid",
                        "federated_already_linked",
                        "email_disposable",
                        "waitlist_email_invalid",
                        "waitlist_rejected",
                        "contact_invalid",
                        "contact_rejected"
                      ]
                    },
                    "message": {
                      "type": "string"
                    },
                    "details": {
                      "type": "object",
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Modifier son propre profil",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "pattern": "^[a-z0-9_]{3,30}$"
                  },
                  "displayName": {
                    "type": "string",
                    "maxLength": 80,
                    "nullable": true
                  },
                  "uiLanguage": {
[...]
